.box{
    background-color: red;
    padding: 10px;
}

.container{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 1px;
    row-gap: 1px;
}

.item1{
    grid-row-start: span 3;
}

.item2{
    grid-column-start: span 2;
}

@media (min-width: 600px) {
    .container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-auto-rows: minmax(100px, auto);
        column-gap: 1px;
        row-gap: 1px;
    }
    }
