@media (min-width: 800px) {
.flexbox{
    position: relative;
    width: 98vw;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.box{
    width: 70px;
    height: 70px;
    background-color: beige;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-width: 2px;
}

.leftbox{
    width: 900px;
    height: 600px;
    background-color:cornflowerblue;
    margin-top: 30px;
    margin-left: 10px;
}

.rightbox{
    margin-top: -600px;
    margin-left: 990px;
    width: 900px;
    height: 600px;
    background-color: darkcyan;
}

}

@media (max-width: 799px) {
.box{
    width: 100px;
    height: 100px;
    background-color: beige;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
    border-style: solid;
    border-width: 2px;
}

.leftbox{
    width: 750px;
    height: 200px;
    background-color:cornflowerblue;
    margin-top: 30px;
    margin-left: 10px;
}

.rightbox{
    margin-top: 30px;
    margin-left: 10px;
    width: 750px;
    height: 200px;
    background-color: darkcyan;
}
}