*{
    margin: 0px;
    font-size: 40px;
}

div{
    height: 50px;
    background-color: red;
}

.container1{
    width: 50%;
    font-size: 1.2rem
}

.container2{
    width: 50vw;
    height: 50vh;
    font-size: 0.3rem;
}

.main{
    background-color: green;
    height: 200px;
    width: 200px;
    font-size: 1.5rem;
}